form(action="/student", method="POST")
  
        .form-group
          label First Name
          input.form-control(name="student[firstname]", required)

        .form-group
          label Last Name
          input.form-control(name="student[lastname]", required)

        .form-group
          label Status
          select.form-control(name="student[status]", required)
            option(value="FULL-TIME") Full-Time
            option(value="PART-TIME") Part-time
        
        .form-group
          button.btn.btn-dark(type="submit") Submit