extends ../layouts/main.pug
block content
  .container
    header
      h1= student.firstname
      small= student.status.toLowerCase()

    div
      = student.lastname || "Your story is processing..."